body{
   background-color: #e55039;
   color:#fff;
   background-image: url("../img/maybg.jpg");
   background-size: stretch;
   background-repeat: no-repeat;
}

.row#totem-top{
   background-color:#0a3d62;
   color: #fff;
   padding: 18px 0;
   margin-bottom: 40px;
}

h1.nav-link{
   padding-left: 30px;
}

.card{
   color:#000;
   width: 12rem;
}

footer{
   margin-top: 50px;
}

.row#options{
   margin-bottom: 30px;
}
